﻿@model Film_Rental_Website.ViewModels.RandomMovieViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.Movies.Count == 0)
{
    <text>There is no movie to rent</text>
}
else
{
    <ul>
        @foreach(var movie in Model.Movies)
        {
            <li>@movie.Name</li>
        }
    </ul>
}

