﻿@model Film_Rental_Website.ViewModels.RandomMovieViewModel
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{ 
    var nameOfClass = Model.Customers.Count > 0 ? "popular" : null;
}

<h2 class="@nameOfClass">@Model.Movies[0].Name</h2>

@if (Model.Customers.Count == 0)
{
    <text>This movie was never rented</text>
} else
{
    <ul>
        @foreach(var customer in Model.Customers)
        {
            <li>@customer.Name</li>
        }
    </ul>
}
