﻿@model Film_Rental_Website.ViewModels.RandomMovieViewModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.Customers.Count == 0)
{
    <text>No customers to display</text>
}
else
{
    <ul>
        @foreach (var customer in Model.Customers)
        {
            <li><a href="customers/edit/@customer.Id">@customer.Name</a></li>
        }
    </ul>
}

